fastapi
uvicorn
pydantic
pydantic-settings
chromadb
sentence-transformers
openai                  # Dùng OpenAI client để gọi giao thức chuẩn của vLLM và OpenAI
httpx                   # Hỗ trợ gọi API bất đồng bộ (async)
