# Teacher Model API Keys (Cho Giai đoạn Distillation)
OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# HuggingFace Token (Dùng tải model Llama 3 và upload model sau khi Fine-tune)
HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Cấu hình đường dẫn nội bộ
RAW_DATA_PATH=data/raw/
PROCESSED_DATA_PATH=data/processed/
DISTILLATION_DATA_PATH=data/distillation/
